.pickup-delivery-page {
  position: relative;
  justify-content: center;
height: 100vh;
  background-position: center;
  display: flex;
margin-top: 250px;
margin-bottom: 600px;
  @include background-cover;
  .products-content {
    position: relative;
    z-index: 1;
    h2 {
    @include heading-font;
    }
    p {
    @include body-font;
   
    }
    @media (min-width: 768px) {
      h2 {
          @include heading-font;
      }
      height: 90vh;
    }
  }

}