// Styling for the download section
section.download {
    position: relative;
    padding: 50px 0;
    background-blend-mode: multiply;
    background-color: $theme-primary;
    background-image: url("../images/bon2.jpg");
    background-size: 100%;
    background-position: center center;
    h2 {
      font-size: 50px;
      font-weight: 800;
      margin-top: 0;
    }
    .badges {
      .badge-link {
        display: block;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          height: 60px;
        }
        @media (min-width: 768px) {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
    @media (min-width: 768px) {
      h2 {
        font-size: 70px;
      }
    }
  }
  


  .StripeElement {
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }